body{
    background-color: #232323;
    overflow: hidden;
    overflow-y: hidden;
    position: relative;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: #232323;
    font-size: 200%;
    margin-top: 7%;
    margin-left: 5%
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    margin-left: 5%;
    margin-top: 2.5%;
    color: #bababa;
}
h3{
    color: #ff6464;
}
.container{
    height: 100%;
    width:79%;
    margin: 5%;
    position: relative;
    background-color: #ffffff;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 5%;
    padding-bottom: 17%;
    padding-top: 10%;
    box-shadow:0 5px 60px 0 rgba(0, 0, 0, .5)
}
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
ul {
    list-style-type: none;
}
li {
    float: left;
    margin-left: 2%;
}
li a{
    text-decoration: none;
    font-size: 130%;
    color: #232323;
    padding-left: 8px;
    color: gray;
    font-family: 'Poppins', sans-serif;
}
li:last-child {
    border: none;
  }
li a {
    -webkit-transition: font-size 0.2s ease, background-color 0.2s ease;
    -moz-transition: font-size 0.2s ease, background-color 0.2s ease;
    -o-transition: font-size 0.2s ease, background-color 0.2s ease;
    -ms-transition: font-size 0.2s ease, background-color 0.2s ease;
    transition: font-size 0.2s ease, background-color 0.2s ease;
    display: block;
  }
li a:hover {
    color:#232323; 
  }
  @media (min-width: 640px){
     
    }
     
    @media (min-width: 768px){
     
    }
     
    @media (min-width: 1024px){
     
    }
     
    @media (min-width: 1200px){
     
    }